<!DOCTYPE html>
<html lang="en">
  <style>
    p{
      font-size:7px;
    }
    .header{
      text-align:center;
      border-top:1px solid;
      border-bottom:1px solid;
    }
    .sector{
      margin-top:50px;
      width:100%;
    }
    </style>
    <body>

      <div class = "header">
        <a href="메인.html"><img src = "https://dongtan.hs.kr/upload/dongtan.hs.kr/site_file/logo.jpg" style = "height:80px;"></a><h1>동탄고 7월 급식 안내</h1>
        </div>
        <div class = "sector">
        <div class=" calendar">

       <div class="month_11">

       <table class ="cl" border="1" align="center" width="800px" height="300px">
         <tr><th class="work_11" colspan="7">2022년 7월</th>

          </tr>
          <tr>
            <td width="30px" align="center">Sun </td>
            <td width="30px" align="center">Mon </td>
            <td width="30px" align="center">Tue </td>
            <td width="30px" align="center">Wed</td>
            <td width="30px" align="center">Thu</td>
            <td width="30px" align="center">Fri</td>
            <td width="30px" align="center">Sat</td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="30px" align="center">1<p></td>
            <td width="30px" align="center">2</td>
         </tr>

         <tr>
           <td width="30px" align="center">3</td>
           <td width="30px" align="center">4</td>
           <td width="30px" align="center">5 <P>
             야채볶음밥<br>
             빠네크림파스타<br>
             베이크닭봉구이<br>
             양상추샐러드<br>
             깍두기</p>
           </td>
           <td width="30px" align="center">6<p>
             카레라이스<br> 과일화채<br> 단호박견과류꿀찜<br> 닭다리살스테이크<br> 배추김치</P>
           </td>
           <td width="30px" align="center">7<p>
             현미밥<br> 고기많이부대찌개<br> 주꾸미제육볶음<br> 해쉬브라운콘마요<br> 총각김치<br> 버터쿠키</P>
           </td>
           <td width="30px" align="center">8<p>
             귀리밥<br> 감자옹심이국<br> 들기름막국수<br> 달고마치즈닭<br> 오이김치<br> 감자빵</P>
           </td>
           <td width="30px" align="center">9</td>
        </tr>

        <tr>
          <td width="30px" align="center">10</td>
          <td width="30px" align="center">11<p>
            혼합잡곡밥<br> 물냉면<br> 매운갈비찜<br> 새송이버섯볶음<br> 만두<br> 배추김치</P>
          </td>
          <td width="30px" align="center">12<p>
            보리밥<br> 된장찌개<br> 고추장삼겹살<br> 콩나물파채무침<br> 배추김치<br> 수제견과또띠아칩</p>
          </td>
          <td width="30px" align="center">13<p>
            후리카케밥<br> 냉우동<br> 토마토마리네이드<br> 피자토스트<br> 깍두기</P>
          </td>
          <td width="30px" align="center">14 <p>
            율무밥<br> 김치콩나물국<br> 짜장돈육찜<br> 시금치프리타타<br> 총각김치<br> 짜요</P>
          </td>
          <td width="30px" align="center">15 <p>
            기장밥<br> 설렁탕<br> 로제쏘야<br> 자반고등어구이<br> 아삭이고추무침<br> 석박지</P>

          </td>
          <td width="30px" align="center">16</td>
       </tr>

       <tr>
         <td width="30px" align="center">17</td>
         <td width="30px" align="center">18 <p>
           쌀밥<br> 이천면낙지<br> 도토리묵상추무침<br> 메밀전병<br> 배추김치<br> 아이스크림</P>
         </td>
         <td width="30px" align="center">19<br>방학식</br></td>
         <td width="30px" align="center">20</td>
         <td width="30px" align="center">21</td>
         <td width="30px" align="center">22</td>
         <td width="30px" align="center">23</td>
      </tr>

      <tr>
        <td width="30px" align="center">24</td>
        <td width="30px" align="center">25</td>
        <td width="30px" align="center">26</td>
        <td width="30px" align="center">27</td>
        <td width="30px" align="center">28</td>
        <td width="30px" align="center">29</td>
        <td width="30px" align="center">30</td>
     </tr>

     <tr>
       <td width="30px" align="center">31</td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     </div>
     </body>
     </html>
