<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>동탄고 학사 일정 안내</title>
    <style>
      .header{
        text-align:center;
        border-top:1px solid;
        border-bottom:1px solid;
      }
      .image{
        margin-top:50px;
        margin-left:200px;
      }
      </style>
  </head>
  <body>

    <div class = "header">
    <a href="메인.html"><img src = "https://dongtan.hs.kr/upload/dongtan.hs.kr/site_file/logo.jpg" style = "height:80px;"></a><h1>동탄고 학사일정 안내</h1>
    </div>
    <div class ="image">
    <img src ="https://dongtan.hs.kr/upload/dongtan.hs.kr/smart_editor/220304/561f967399e005c0df213501a108dd94.jpg" style = "width:70%;">
    </div>
  </body>
</html>
