<html lang="en">
  <style>
    p{
      font-size:10px;
    }
    .header{
      text-align: center;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }
    .sector{
      margin-left: 30%;
      margin-top: 50px;
    }
    </style>
    <div class = "header">
      <h1>정규 수업 시간표</h1>
    </div>
    <div class = "sector">
<div class=" calendar">

       <div class="month_11">

       <table class ="cl" border="1" align="left" width="500px" height="200px">
         <tr><th class="work_11" colspan="7">정규 수업 시간표 </th>

          </tr>
          <tr>
            <td width="30px" align="center">분류</td>
            <td width="30px" align="center">시간</td>
          </tr>

          <tr>
            <td width="30px" align="center">아침조회</td>
            <td width="30px" align="center">8:40 ~ 9:00</td>
          </tr>

          <tr>
            <td width="30px" align="center">1교시</td>
            <td width="30px" align="center">9:00 ~ 9:50</td>
          </tr>

          <tr>
            <td width="30px" align="center">2교시</td>
            <td width="30px" align="center">10:00 ~ 10:50</td>
          </tr>

          <tr>
            <td width="30px" align="center">3교시</td>
            <td width="30px" align="center">11:00 ~ 11:50</td>
          </tr>

          <tr>
            <td width="30px" align="center">4교시</td>
            <td width="30px" align="center">12:00 ~ 12:50</td>
          </tr>

          <tr>
            <td width="30px" align="center">점심시간</td>
            <td width="30px" align="center">12:50 ~ 1:50</td>
          </tr>

          <tr>
            <td width="30px" align="center">5교시</td>
            <td width="30px" align="center">1:50 ~ 2:40</td>
          </tr>

          <tr>
            <td width="30px" align="center">6교시</td>
            <td width="30px" align="center">2:50 ~ 3:40</td>
          </tr>

          <tr>
            <td width="30px" align="center">7교시</td>
            <td width="30px" align="center">3:50 ~ 4:40</td>
          </tr>
        </div>
